                      /* Ids */
#first_box {
  text-align: center;
  padding-top: 4%;
}

#why {
  padding: 4%;
  margin-top: 6%;
  text-align: center;
}

#footer-index {
  background-color: #cbbcb1;
  text-align: center;
  padding: 2% 2% 1% 2%;
}

#carousel {
  text-align: center;
  width: 99%;
  margin-top: 5%;
}

#sumfun {
  padding: 0.5% 2.5%;
}

#homework {
  padding: 1% 2.5% 2% 3.5%;
}


                    /* Peusdo Classes */

.Radin:hover {
  color: brown;
}

                    /* CSS Classes */
.body {
  background-color: #cdc9c3;
}

.yee {
  width: 500%;
}

.hw4 {
  padding: 1.5%;
}

.hw4d {
  padding: 0 2%;
}

.br {
  padding: 2%;
}

.test6 {
  width: 4%;
  border-style: dotted;
  color: black;
  border-width: 10px;
  border-bottom: none;
  position: relative;
  right: 40%;
}

.big {
  font-size: 125%;
}

.test2 {
  text-align: center;
  padding-top: 3%;
}

.Radin {
  color: black;
}

.brown {
  color: brown;
}

.carousel-item {
  width: 25%;
}

.mobile-friendly_vid {
  margin-bottom: 4%;
  width: 320px;
  height: 192px;
}

.phr {
  width: 30%;
  border-width: thick;
  color: lime;
  shape-outside: circle();
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.st {
  padding-right: 5.5%;
  padding-top: 3%;
  margin-bottom: -1%;
}

.proverbs_sec2 {
  padding: 0 3%;
}

.imgsizing {
  width: 20%;
}

.as {
  width: 20%;
}

.sh_picture {
  border-radius: 50%;
  width: 20%;
  height: 15%;
  padding-top: 3%;
}

.projectvideo {
  width: 30%;
}

.picturetitlecar {
  text-align: center;
  padding-top: 4%;
  margin-bottom: -3%;
}

.divider {
  border: dotted #EAF6F6 0.9rem;
  border-bottom: none;
  width: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.top-box {
  background-color: black;
  height: 30%;
  margin-bottom: -2%;
}
.bottom-box {
  background-color: white;
  height: 30%;
  text-align: center;
  padding: 0.8%;
}

.p1 {
  padding-top: 1%;
  text-align: left;
}

.audiop3positioning {
  padding-left: 1rem;
 position: fixed;
}

.nav-item {
  margin: 0.8%;
}

.ferinfo {
  padding: 0 25%;
  /* position: relative;
  bottom: 14rem;
  right: 16rem;
  padding: 0 40%; */
}

.fas {
  font-size: 120%;
}

.far {
  display: block;
}

.ip {
  padding: 0 0.3rem;
}

.font {
  font-family: 'Montserrat', sans-serif;}

.car {
  position: relative;
  left: 15%;
}

.car2 {
  position: relative;
  right: 150%;
}

.effectp1 {
  text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

.effectp2 {
  font-family: 'Lobster', cursive;
}

.padding {
  padding: 2%;
}

.paddingforsongsinfo {
  padding: 1.5% 2.3%;
}

.sz {
  padding: 3% 5% 4% 3.5%;
}

.bgimage {
  background-image: url('simorg.jpg')
}

.ctgvid {
  background-color: #000;
}

.blur {
  filter: blur(9px);
}

.blurtest {
  background-color: #000;
  opacity: 50%;
}

.bold2 {
  font-weight: bolder;
}

.p-padding {
  padding: 0.1rem 4rem;
}


.bold {
  font-weight: bold;
}

.credits {
  font-weight: 500;
  font-size: 1.1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c5a880;
  min-width: 109px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
  color: #cc7351;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.rw-wrapper{
	width: 20%;
	position: relative;
  right: 1rem;
	/* margin: 110px auto 0 auto; */
	font-family: 'Bree Serif';
	padding: 10px;
}

.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.rw-sentence span{
	color: #444;
	white-space: nowrap;
	font-size: 200%;
	font-weight: normal;
}

.rw-words{
	display: inline;
	text-indent: 10px;
}

.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 50%;
	color: #6b969d;
}

.rw-words-1 span{
	animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words-2 span{
	animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) {
	animation-delay: 3s;
	color: #6b889d;
}
.rw-words span:nth-child(3) {
	animation-delay: 6s;
	color: #6b739d;
}
.rw-words span:nth-child(4) {
	animation-delay: 9s;
	color: #7a6b9d;
}
.rw-words span:nth-child(5) {
	animation-delay: 12s;
	color: #8d6b9d;
}
.rw-words span:nth-child(6) {
	animation-delay: 15s;
	color: #9b6b9d;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}




                    /* Medias */

@media (max-device-width: 700px) {
  .yes {
    width: 10%;
  }
}

@media (min-device-width: 1500px) {
  .rw-wrapper {
    left: 40rem;
  }
}

               /* CSS effects */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #c5a880;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #cbbcb1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Shrink */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  background-color: #c5a880;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Overline From Right */
.hvr-overline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-right:hover:before, .hvr-overline-from-right:focus:before, .hvr-overline-from-right:active:before {
  left: 0;
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-down .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover .hvr-icon, .hvr-icon-down:focus .hvr-icon, .hvr-icon-down:active .hvr-icon {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

                        /* Tests */
